.luquinhas {
    color: blue;
}




/* Botão de Adicionar */
.add-div {
    background-color: #79aec8;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    padding-top; 20px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

/* Busca */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
}

.search-div {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}


/* Lista de Tarefas */

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border: 1px dashed #ccc;
}

.fas.fa-trash, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size:20px;
    float: right;
}

.fas.fa-trash {
    color: red;
}

.fas.fa-edit {
    color: green;
}




.pulaLinha {

}


/* Vertical Menu */
.vertical-menu {
  width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}